body {
  background-color: #fafffa;
}

.App {
  text-align: center;
  color: #333;
}
img {
  max-width: 100%;
}

.section-title {
  margin: 3rem auto 2rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-text-duo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.img-text-duo .img,
.img-text-duo .text {
  width: 50%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .img-text-duo {
    flex-direction: row;
    text-align: left;
  }
}
